BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 2
TabWidth: 2
PointerAlignment: Left
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: true
AccessModifierOffset: -2
NamespaceIndentation: All
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: false
IndentPPDirectives: AfterHash
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: false
BreakConstructorInitializers: AfterColon
PackConstructorInitializers: Never
